body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

header {
    /* background: #ebebeb;
    margin-top: 15px;
    width: 960px;
    margin: 0;
    top: 0;
    left: 0;
    height: 80px;
    line-height: 50%; */
    background: #ebebeb;
    margin-top: 15px;
    padding: 25px;
    margin-bottom: 45px;
}

.nav {
    /* background: #ebebeb;
    margin-top: 15px;
    width: 960px;
    margin: 0;
    top: 0;
    left: 0;
    height: 80px;
    line-height: 40px; */
    background: #ebebeb;
    margin-top: 15px;
    padding: 25px;
    margin-bottom: 45px;
}

.main-container {
    width: 100%;
}

.main-container-left {
    width: 55%;
    float: left;
}

.section {
    background: yellow;
}

.article {
    width: 90%;
    background: green;
    color: #ebebeb;
    padding: 40px;

}

.left-1 {
    width: 75%;
    background: #ebebeb;
    margin: 0 10% 0;
    padding: 10px;
}

.left-2 {
    width: 75%;
    background: #ebebeb;
    margin: 0 10% 0;
}

.aside {
    width: 50%;
    color: blue;
}

footer {
    background: #ebebeb;
    margin-top: 15px;
    padding: 25px;
    margin-bottom: 45px;
    clear: both;
}